<?xml version="1.0" encoding="UTF-8"?>
<beans   xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
>


 <bean class="Exception.Teste" id="aa"></bean>
 <bean class="Exception.Testd" id="testd"></bean>
 <aop:aspectj-autoproxy ></aop:aspectj-autoproxy>
</beans>